
.container{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  margin: 0;
}

.section{
  display: flex;
  justify-content: center;
  height: 100vh;
  scroll-snap-align:start;
}
.section2{
   width:100%;
  display: inline-block;
  height: 100vh;
  scroll-snap-align:start;
}
.section3{
  width:100%;
 display: inline-block;
 height: 150vh;
 scroll-snap-align:start;
}
.section4{
  width:100%;
 display: inline-block;
 height: 180vh;
 scroll-snap-align:start;
}
.about{
  color: #3282B8;
}
.aboutimg{
  width:80% ;
  height: 50%;
  margin: 5em 0.1em;
}
.skill{
  width:20% ;
  height: auto;
}
.project{
  width:100% ;
  height: auto;
}
.bg{
  background: #0A1929;
  width: 100%;
  opacity: 0.7;
}


@media (hover: hover){
   .description{
    background-color:rgba(0,0,0,0.5);
    /* .h6{ 
      transform: translateY(0px);
      opacity: 1;

    } */
    /* .p{
      transform: translateY(0px);
      opacity: 1;
    }
    .iconbtn{
      transform: translateY(0px);
      opacity: 1;
    } */
    
  }
}

